.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-color: rgb(131, 205, 255);
}

#root {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -160px;
  background-color: rgb(0, 0, 0);
  width: 140px;
  height: 330px;
}
